@import 'vars';
@import 'global';
@import 'fonts';

// ====================== start header ======================
.header{
    background-color: #fff;
}
.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 91px;
    align-items: center;
    
}
.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}

.header__btn{
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.header__btn-login{
    background-color: $green;
}
.header__btn-register{
    background-color: $red;
    margin-left: 7px;
}
.header__btn-logout{
    background-color: $red;
}
.header__menu{
    background-color: $bg;
}
.menu{
    display: flex;
    align-items: center;
    height: 60px;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
          margin-left: 30px; 
        }
    }
    a{
        color: #fff;
        font-size: 14px;
    }
}
.header__box{
    display: flex;
    align-items: center;
}
.header__circle{
    &.active{
        display: block;
    }
    display: none;
    position: relative;
    width: 34px;
    height: 34px;
    background-color: #f5f5f5;
    border-radius: 50%;
    &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a0a0a0;
        font-size: 14px;
    }
    span{
        position: absolute;
        right: -7px;
        top: -7px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        text-align: center;
        font-size: 11px;
        color: #fff;
        @include f700;
        line-height: 19px;
    }
}
.notification{
    span{
        background-color: $yellow;  
    }
}
.massage{
    span{
        background-color: $tomato;
    }
}
.basket{
    margin-right: 20px;
    span{
        background-color: $green;
    }
}
.user{
    
    margin-right: 25px;
    padding-right: 20px;
    position: relative;
    &::after{
        content: "\f107";
        font-family: 'icomoon';
        color: #707070;
        font-size: 16px;
        position: absolute;
        right: 0px;
        top: 0;
    }
    &__inner{
        display: flex;
        align-items: center;
    }
    &__images{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 15px;
        overflow: hidden;
    }
    &__info{
        font-size: 14px;
        line-height: 24px;
    }
   &__name{
        color: #222;
        @include f500;
   }
   &__money{
        color: $green;
        @include f700;
   } 
}
.user__box{
    position: relative;
    height: 90px;
    margin-top: 42px;
    &:hover{
        .user__menu{
            height: auto;
            border-width: 1px;
            padding: 20px;
            overflow: auto;
        }
    }
}
.user__menu{
    border: 0px solid #ccc;
    position: absolute;
    top: 69px;
    left: 15px;
    background-color: #fff;
    padding: 0px 20px;
    width: 158px;
    transition: all .3s;
    height: 0;
    overflow: hidden;
    z-index: 1;
    ul{
        li{
            & + li{
                margin-top: 15px;
            }
        }
    }
    a{
        font-size: 12px;
        color: #546e7a;
    }
}
.circle__item{
    padding: 0px 23px;
    border: 0px solid #e0e0e0;
    border-top: none;
    display: flex;
    align-items: center;
    width: 269px;
    position: relative;
    transition: all .3s;
    border-left-width: 1px;
    border-right-width: 1px;
    &::before{
        position: absolute;
        top: 27px;
        right: 28px;
        font-size: 16px;
        color: #b0bec5;
    }
    &-images{
        margin-right: 15px;
    }
}
.basket__menu,
.message__menu,
.notification__menu{
    border: 0px solid #ccc;
    position: absolute;
    top: 62px;
    right: -14px;
    background-color: #fff;
    transition: all .3s;
    height: 0;
    overflow: hidden;
    z-index: 1;
}
.basket__box,
.message__box,
.notification__box{
    position: relative;
    height: 90px;
    margin-top: 57px;
    margin-left: 15px;
    &:hover{
        .header__circle::before{
            color:$bg;
        }
        .basket__menu,
        .message__menu,
        .notification__menu{
            height: auto;
            overflow: hidden;
        }
        .circle__item{
            padding: 23px;
            border-width: 1px;
            
        }
    }
}
.notification__menu,
.message__menu{
    .circle__info{
        &-images{
            margin-right: 20px;
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }
        &-name{
            font-size: 12px;
            color: $bg;
            @include f700;
        }
        &-date{
            font-size: 10px;
            color: #707070;
        }
        &-thema{
            font-size: 12px;
            color: $green;
            line-height: 18px;
        }
    }
}
.basket__box{
    .circle__info{
        &-name{
            font-size: 15px;
            @include f500;
            color: $bg;
        }
        &-thema{
            font-size: 12px;
            color: $green;
        }
        &-price{
            font-size: 16px;
            @include f500;
            color: #000;
        }
    }
}
.notification__menu{
    .circle__info-thema{
        font-size: 11px;
    }
}
.bassket__summ{
    text-align: center;
    
}
.bassket__title{
    display: flex;
    justify-content: space-between;
    padding: 16px 28px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #263238;
    @include f700;
}
.bassket__summ-total,
.bassket__summ-price{
    color: $bg;
    @include f700;
}
.basket__btn{
    color: #fff;
    font-size: 14px;
    @include f700;
    text-align: center;
    margin-bottom: 20px;
}
.basket__btn-cart{
    background-color: $green;
    padding: 6px 21px;
}
.basket__btn-checkout{
    background-color: $red;
    padding: 6px 13px;
    margin-left: 6px;
}
.header__btn-login--off{
    display: none;
}
.header__btn-logout{
    display: none;
    &.header__btn-login--on{
        display: block;
    }
}
.icons-color::before{
    color: $tomato;
}
.header__btn-menu{
    display: none;
}
.header__btn-box{
    display: flex;
    justify-content: space-between;
}

// ====================== end header ======================
// ====================== start modal ======================
.fancybox-content{
    padding: 0;
}
#modal{
    max-width: 730px;
    width: 100%;
    background-color: $green;
}
.login__wrapper{
    max-width: 400px;
    margin: 0 auto;
    padding: 90px 0 100px;
    label{
        position: relative;
        display: block;
        &::before{
            position: absolute;
            font-family: 'icomoon';
            color: #fff;
            font-size: 14px;
            top: 9px;
            left: 18px;
        }
    }
    .login__label-name::before{
        content: "\f007";
    }
    .login__label-password::before{
        content: "\f023";
    }
    input{
        display: block;
        width: 100%;
        height: 43px;
        padding: 0 40px;
        margin-bottom: 8px;
        background-color: #76ae36;
        border: none;
        color: #fff;
        font-size: 14px;
        &::placeholder{
            font-size: 14px;
            line-height: 36px;
            color: #fff;
        }
    }
    button{
        // margin-top: 19px;
        padding: 18px 0px 16px;
        width: 139px;
        margin-right: 10px;
        background-color: #fff;
        font-size: 14px;
        @include f700;
        color: #000;
        text-transform: uppercase;
        border: none;
        box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
    }
}    
.lost-account{
    padding: 13px 0px 14px 66px;
    margin-top: 19px;
    width: 246px; 
    background-color: #76ae36;
    position: relative;
    font-size: 18px;
    color: #fff;
    &::before{
        position: absolute;
        content: '\f044';
        font-family: 'icomoon';
        color: #fff;
        font-size: 18px;
        top: 14px;
        left: 35px;
    }
}
.lost-pass{
    display: block;
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
}
.login__title{
    font-size: 48px;
    color: #fff;
    @include f700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}
.fancybox-close-small{
   
    &::before{
        content: "\f00d";
        font-family: 'icomoon';
        color: #fff;
        font-size: 18px;
         padding-right: 10px;
    }
}
.fancybox-button svg path{
    display: none;
}
.fancybox-slide--html{
    padding: 0;
}
// ====================== end modal ======================
// ====================== start search ======================

.search{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
    &.page-search{
        min-height: 230px;
        .search__inner{
            padding: 55px 0 70px;
            &-text{
                margin-bottom: 20px;
            }
        }
    }
}
.search__inner{
    padding: 155px 0 100px;
    color: #fff;
    text-align: center;
    &-title{
        margin-bottom: 10px;
        @include f700;
        font-size: 48px; 
        line-height: 72px; 
    }
    &-text{
        margin-bottom: 50px;
        @include f500;
        font-size: 20px;
        line-height: 30px;
    }

    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            @include f500;
            padding-left: 25px;
            padding-right: 60px;
            &::placeholder{
                color: #90a4ae;
                @include f500;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 16px;
        }
    }
}
// ====================== end search ======================

// ====================== start products ======================

.products{
    padding: 110px 0px;
    background-color: $grey;
}
.products__wrapper{
    max-width: 1920px;
    margin: 0 auto;
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    button{
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        & + button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
            outline: none;
        }
    }
}
.products__inner-box{
    display: flex;
    justify-content: flex-start;
    margin-left: -30px;
    flex-wrap: wrap;
    .products__item{
        flex-basis: calc(25% - 30px);
        margin-left: 30px;
    }
}
.products__item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    background-color: #fff;
    &-img{
        min-height: 250px;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        min-height: 90px;
        align-items: center;
        @include f500;
    }
    &-name{
        max-width: 310px;
    }
    &-title{
        color: $bg;
        font-size: 18px;
        display: block;
    }
    &-category{
        font-size: 14px;
        color: $green;
        display: block;
    }
    &-statistics,
    &-reviews,
    &-popular{
        display: none;
    }
    &-price{
        font-size: 20px;
        @include f700;
        color: $bg;
    }
    &-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        border-top: 1px solid #e7ecf2;
    }
    &-author{
        display: flex;
        align-items: center;
        max-width: 245px;
        .avatar{
            min-width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }
        span{
            font-size: 14px;
            @include f500;
        }
    }
    &-star{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-rating{
        font-size: 12px;
        span{
            color: $bg;
            @include f500;
        }
    }
}
.products__bottom-btn{
    text-align: center;
    button{
      margin: 0 5px 0; 
      box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
      background-color: #fff; 
      border: none;
      color: $bg;
      padding: 20px 30px;
      cursor: pointer;
      &.mixitup-control-active{
            background-color: $red;
            color: #fff;
            outline: none;
        }
    }
}

// ====================== end products ======================

// ====================== start slider ======================
.product__slider{
    padding: 110px 0px 120px;
    max-width: 1920px;
    margin: 0 auto;
    .slick-dots{
        text-align: center;
        margin-top: 50px;
        li{
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;
            &.slick-active{
                button{
                   background-color: $green; 
                }
            }
            button{
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}

// ====================== end slider ======================

// ====================== start slider ======================

.advantages{
    background-color: $bg;
    padding: 110px 0px;
}
.advantages__title{
    color: #fff;
}

.advantages__inner{
    display: flex;
    justify-content: space-between;
}
.advantages__item{
    max-width: 370px;
    text-align: center;
    padding: 0 15px;
    &:hover{
        .advantages__item-images{
            background-color: $green;
        }
        .advantages__item-title{
            color: $green;
        }
        .advantages__item-images{
            g{
              fill: #fff;
            }
        }
    }
    &-images{
        width: 114px;
        height: 114px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: all .5s;
        g{
            transition: all .3s;
        }
    }
    &-title{
        font-size: 24px;
        color: #fff;
        @include f500;
        margin-bottom: 25px;
        transition: all .3s;
    }
    &-text{
        font-size: 15px;
    }
}
.iconsvg-1{
    svg{
        width: 50px;
    }
}
.iconsvg-2{
    svg{
       width: 70px;
    }
}
.iconsvg-3{
    svg{
      width: 86px;
    }
}
// ====================== end products ======================

// ====================== start author ======================
.author{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    align-items: center;
    &__box{
    margin: 0 auto;
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    background-color: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    &__title{
        font-size: 30px;
        line-height: 36px;
        color: #fff;
        margin-right: 45px;
        max-width: 265px;
        span{
            @include f700
        }
    }
    &__link{
        font-size: 18px;
        line-height: 36px;
        
        padding: 14px 40px;
        background-color: #fff;
    }
}

// ====================== end author ======================

// ====================== start author ======================
.tutorial{
    padding: 70px 0px 120px;
    &__inner{
    display: flex;
    justify-content: space-between;
    }
    &__item{
        max-width: 370px;
        width: 100%;
    }
}
.tutorial__item{
    &-images{
        min-height: 270px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &-title{
        font-size: 24px;
        background-color: #f8f8f8;
        text-align: center;
        @include f700;
        padding: 30px 10px;
        color: $bg;
    }
}

// ====================== end author ======================

// ====================== start footer ======================
.footer{
    background-color: $bg;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 100px 0px 80px;
    }
    &__copy{
        border-top: 1px solid #424d53;
    }
}
.footer__col{
    max-width: 270px;
    width: 100%;
    &-menu{
        max-width: 220px;
    }
    &-title{
        font-size: 22px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 2px;
            width: 51px;
            height: 3px;
            background-color: $green;
        }
    }
    &-text{
        color: #b7c3c8;
        margin-bottom: 30px;
    }
}
.footer__info{
    margin-top: 18px;
    @include f500;
    color: #fff;
    padding-left: 30px;
    position: relative;
    &::before{
        content: '\f041';
        font-family: 'icomoon';
        color: $green;
        font-size: 18px;
        position: absolute;
        left: 0;
    }
}
.footer__info-phone{
    &::before{
        content: '\f095';
    }
}
.footer__col-list{
    a{
        margin-bottom: 13px;
        color: #b7c3c8;
        padding-left: 22px;
        position: relative;
        &::before{
            content: '\f105';
            font-family: 'icomoon';
            color: $green;
            font-size: 18px;
            position: absolute;
            left: 0;
        }
    }
}
.footer__social-link{
    margin-bottom: 33px;
    li{
        display: inline-block;
        & + li {
            margin-left: 7px;
        }
    }
    a{
        width: 28px;
        height: 28px;
        background-image: url(../images/social/css_sprites.png);
    }
}
.link-twitter{
    background: -28px -0px;
}
.link-youtube{
    background: -0px -28px;
}
.link-pinterest{
    background: -28px -28px;
}
.link-linkedin{
    background: -56px -0px;
}

.footer__form{
    position: relative;
    &-title{
    margin-bottom: 15px;
    font-size: 20px;
    color: #fff;
    }
    input{
        border: none;
        background-color: #2f3c43;
        display: block;
        width: 100%;
        height: 40px;
        color: #fff;
        font-size: 14px;
        padding-left: 13px;
        padding-right: 50px;
        &::placeholder{
            color: #697378;
        }
    }
    button{
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $green;
        border: none;
        height: 40px;
        width: 43px;
        cursor: pointer;
        &::before{
            position: absolute;
            content: '\f124';
            font-family: 'icomoon';
            font-size: 20px;
            color: #fff;
            top: 11px;
            left: 13px;
        }
    }
}
.footer__copy-text{
    text-align: center;
    padding: 25px 0px 30px;
    font-size: 15px;
    color: #919699;
}
// ====================== end footer ======================

// ====================== start product-page ======================

.product-page__inner{
    display: flex;
    padding-bottom: 110px;
}
.product-page__aside{
    margin-right: 3px;
}

// bag

.aside__item{
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0px 32px 32px;
    // margin-right: 30px;
    margin-bottom: 30px;
    width: 270px;
}
.aside__title{
    border-bottom: 1px solid #dde3e8;
    font-style: 20px;
    color: $bg;
    padding: 22px 0px 19px;
    @include f700;
}
.category__list{
    padding-top: 10px;
    li{
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-left: 20px;
        &::before{
            content: '\f105';
            font-family: 'icomoon';
            color: #8bc34a;
            font-size: 18px;
            position: absolute;
            left: 0;
        }
    }
    a{
        color: $bg;
    }
    span{
        color: #90a4ae;
        margin-left: 10px;
    }
}
.price__range{
    form{
        padding-top: 20px;
    }
    button{
        margin-top: 55px;
        color: #fff;
        padding: 16px 10px;
        background-color: $green;
        text-align: center;
        @include f500;
        width: 100%;
        display: block;
        border: none;
        cursor: pointer;
        position: relative;
        &::before{
            content: '\f002';
            font-family: 'icomoon';
            color: #fff;
            font-size: 15px;
            position: absolute;
            left: 58px;
            top: 15px;
        }
    }
}
.irs-min,
.irs-max{
    display: none;
}
.irs--flat .irs-line{
    background-color: #f2f5f8;
    height: 5px;
}
.irs--flat 
.irs-bar{
    height: 5px;
    background-color: $bg;
}
.irs--flat 
.irs-handle{
    width: 16px;
    height: 16px;
    border: 4px solid $green;
    background-color: #fff;
    border-radius: 50%;
    top:20px;
}
.irs--flat 
.irs-handle>i:first-child{
    display: none;
}
.irs-from, 
.irs-single, 
.irs-to{
    top: 45px;
}
.irs--flat 
.irs-from:before, 
.irs--flat .irs-single:before, 
.irs--flat .irs-to:before{
    display: none;
}
.irs--flat .irs-from, 
.irs--flat .irs-single, 
.irs--flat .irs-to{
    background-color: transparent;
    color: #78909c;
    font-size: 15px;
    border-radius: 0px;
    padding: 0;
}
.aside__products-items{
    .products__item:last-child{
        border: none;
        padding-bottom: 0px;
    }
    .products__item:first-child{
        padding-top: 25px;
    }
}
.product-page__aside{
    margin-right: 28px;
    .products__item{
        box-shadow: none;
        padding-bottom: 17px;
        margin-bottom: 27px;
        border-bottom: 1px solid #dde3e8;
        &-img{
            min-height: 120px;
        }
        &-title{
            font-size: 16px;
        }
        &-price{
            font-size: 16px;
        }
        &-content{
            padding: 10px 0px;
            min-height: 75px;
        }
        &-author{
            .avatar{
                margin-right: 9px;
            }
        }
        &-info{
            padding: 10px 0px;
            min-height: 0px;
            border-top: none;
        }
        &-star{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .rate-star{
                margin-right: 0;
            }
            .jq-ry-container{
                padding: 0;
                padding-left: 5px;
            }
        }
        &-rating{
            display: none;
        }
    }
}
.top-sellers__link{
    margin-top: 15px;
    color: #fff;
    padding: 16px 10px;
    background-color: $green;
    text-align: center;
    @include f500;
    width: 100%;
    display: block;
    cursor: pointer;
    position: relative;
}
.product-page__items{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -30px;
}
.product-page__content{
    .products__item.list{
        flex-basis: 100%;
    }
}
.product-page__content{
    width: 100%;
    .products__item{
        flex-basis: calc(33.3333% - 30px);
        margin-left: 30px;
        transition: all .5s;
        &-img{
            min-height: 180px;
            max-width: 100%
        }
        &-title{
            font-size: 16px;
        }
        &-content{
           padding: 10px 21px;
        }
        &-info{
            padding: 10px 21px;
            min-height: 65px;
        }
        .rate-star{
            margin-right: 2px;
        }  
    }
    .products__item-content__wrapper{
        min-width: 270px;
    }
}

.product-page__filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0px 20px;
    margin-bottom: 30px;
    height: 60px;
    &-sort{
        font-size: 14px;
        color: #707070;
        display: flex;
        align-items: center;
    }
    .icon-sort-amount-desc{
        font-size: 18px;
        color: #455a64;
        margin-top: 4px;
    }
    .icon-sort{
        font-size: 14px;
        color: #707070;
    }
    button{
        border: none;
        background-color: transparent;
        color: #90a4ae;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        &.active{
            color: $green;
        }
    }
}
.pagination{
    &__list{
        li{
            display: inline-block;
            & + li{
                margin-left: 6px;
            }
            a,
            span{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 43px;
                height: 38px;
                font-style: 16px;
                @include f500;
                color: $bg;
                background-color: #fff;
                box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
                &.active{
                    background-color: $red;
                    color: #fff;
                }
            }
           
        }
    }
}
.products__item{
    &.list{
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        &:hover{
                    box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
                }
        .products__item{
            &-img{
                width: 240px;
                height: 180px;
                min-height: 100%;
            }
            &-content__wrapper{
                width: 100%;
            }
            &-content{
                padding: 20px 21px 5px;
            }
            &-price{
                font-size: 30px;
                @include f700;
            }
            &-name{
                max-width: 480px;
            }
            &-statistics{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding:  0px 21px 20px;
            }
            &-text{
                max-width: 480px;
                font-size: 14px;
                line-height: 18px;
                color: #70838d;
            }
            &-sales{
                font-size: 13px;
                color: #aeb4bb;
            }
            &-reviews,
            &-popular{
                font-size: 12px;
                line-height: 14px;
                display: block;
                padding-left: 50px;
                margin-left: 25px;
                border-left: 2px solid #aeb4bb;
                position: relative;
                span{
                    color: $bg;
                    @include f500;
                }
                &::before{
                    font-family: 'icomoon';
                    color: $green;
                    font-size: 16px;
                    position: absolute;
                    left: 20px;
                    top: 0;
                }
            }
            &-reviews{
                 &::before{
                    content: '\f0e5';
                 }
            }
            &-popular{
                 &::before{
                    content: '\f08a';
                }
            }
        }    
    }
}

// ====================== end product-page ======================
// ====================== start product-one ======================

.product-one{
    padding-bottom: 100px;
}
.product-one__inner{
    display: flex;
    justify-content: space-between;
}
.product-one__content{
    margin-right: 31px;
    max-width: 870px;
}
.product-one__images-inner{
    padding: 16px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-one__images{
    max-width: 829px;
    width: 100%;
    min-height: 422px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product-one__title{
    margin-top: 31px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 40px;
    @include f500;
    color: $bg;

}
.product-one__text{
    font-size: 16px;
    line-height: 24px;
    color: #707070;
    margin-bottom: 35px;
    margin-top: 20px;
}
.product-one__box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    text-align: center;
}
.product-one__link{
    a{
        padding: 13px;
        font-size: 14px;
        color: $grey;
        & + a{
            margin-left: 20px;
        }
    }
    &-preview{
        width: 138px;
        background-color: $red;
    }
    &-screenshots{
        width: 158px;
        background-color: #455a64;
    }
    &-documentation{
        width: 158px;
        background-color: $green;
    }
}
.product-one__social{
    a{
        width: 54px;
        height: 50px;
        position: relative;
        & + a{
            margin-left: 3px;
        }
        &::before{
            font-size: 18px;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .icon-facebook{
        background-color: #6370b6;
    }
    .icon-twitter{
        background-color: #64b5f6;
    }
    .icon-linkedin{
        background-color: #4f71ce;
    }
    .icon-pinterest-p{
        background-color: #d32f2f;
    }
}
.product-one__more-title{
    font-size: 18px;
    line-height: 24px;
    padding: 18px 25px;
    color: $bg;
    @include f500;
    border: 1px solid #dcdcdc;
    background-color: #fff;
    margin-bottom: 28px;
}
.product-one__more-icons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-min{
    display: flex;
    align-items: center;
    max-width: 270px;
    width: 100%;
    height: 90px;
    margin-bottom: 26px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
}
.product-min__images{
    width: 100px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product-min__info{
    padding: 8px 20px 0px;
}
.product-min__name{
    font-size: 14px;
    @include f500;
    color: $bg;
}
.product-min__theme{
    font-size: 12px;
    color: $green;
}
.product-min__price{
    font-size: 18px;
    color: $bg;
    @include f700;
}
.product-one__tabs{
    margin-bottom: 55px;
}
.tabs{
    display: flex;
    text-align: center;
    border: 1px solid #7d7d7d;
    border-bottom: none;
    span{
       &.active{
            border-bottom: 1px solid $green;
        } 
    } 
}
.tab{
    width: 100%;
    padding: 20px 0;
    background-color: #fff;
    font-size: 16px;
    color: #70838d;
    cursor: pointer;
    border-bottom: 1px solid #7d7d7d;
    & + .tab{
        border-left: 1px solid #7d7d7d;
    }
    
}
.tab_content{
    padding: 30px 30px 50px;
    background-color: #fff;
    border: 1px solid #7d7d7d;
    border-top: none;
}
.tab-item{
    display: none;
    &:first-child{
        display: block;
    }
}
.tad-items__list{
    font-size: 16px;
    line-height: 36px;
    color: #707070;
    column-count: 2;
    column-gap: 25px;
    li{
        max-width: 270px;
        width: 100%;
    }
}
.author__awards-list{
    li{
        display: inline-block;
        width: 34px;
        height: 37px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        & + li{
            margin-left: 4px;
        }
        &::before{
            color: #fff;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.awards-meh{
    background-image: url(../images/page-one/awards/awards-meh.png);
}
.awards-pagelines{
     background-image: url(../images/page-one/awards/awards-pagelines.png);
}
.awards-flash{
    background-image: url(../images/page-one/awards/awards-flash.png);
}
.awards-foursquare{
    background-image: url(../images/page-one/awards/awards-foursquare.png);
}
.awards-cny{
   background-image: url(../images/page-one/awards/awards-cny.png);
}
.price__box{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    .jq-selectbox__trigger{
        border: none;
        top: 3px;
        width: 26px;
    }
    .jq-selectbox__select{
        background: #f9f9f9;
        border: 1px solid #d7d7d7;
        border-bottom-color: #d7d7d7;
        box-shadow: none;
        text-shadow: none;
        border-radius: 0px;
        height: 27px;
        left: 0px;
        top: 0px;
        padding: 0px 29px 0px 9px;
        font-size: 13px;
        line-height: 26px;
        font-family: 'Roboto-Regular', sans-serif;
        color: #70838d;
    }
     .jq-selectbox__trigger-arrow{
        border:none;
        top: -9px;
        line-height: 40px;
        right: 20px;
        font-size: 15px;
        &::before{
            content: "\f0d7";
            font-family: 'icomoon';
            color: $green;
        }
    }
    .jq-selectbox__dropdown{
        border-radius: 0px;
        margin: auto;
        top: 26px;
        left: 0px;
    }
    .jq-selectbox li{
        padding: 0px 15px 0px 9px;
        line-height: 26px;
    }
    
}
.price__product{
    color: $red;
    font-size: 22px;
    @include f500;
}
.product__price{
    button{
        box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
        border: none;
        color: #fff;
        font-size: 16px;
        @include f700;
        font-family: 'Roboto-Regular', sans-serif !important;
        text-align: center;
        display: block;
        width: 100%;
        padding: 17px 5px 15px;
        cursor: pointer;
        background-color: #546e7a;
        &::before{
            font-family: 'icomoon';
            margin-right: 9px;
            font-size: 16px;
            font-weight: 400;
            color: #fff;
        }
        & + button{
            margin-top: 7px;
        }
    }
    .icon-shopping-cart{
        background-color: $green;
    }
    .icon-heart-o{
        background-color: #42a5f5;
    }
}
.product-author__box{
   padding-top: 25px;
  
}
.product__info-box{
     display: flex;
     margin-bottom: 24px;
}
.author__avatar{
    margin-right: 14px;
}
.author__name{
    font-size: 18px;
    line-height: 18px;
    color: $bg;
    margin-bottom: 10px;
}
.author__info-link{
    font-size: 13px;
    color: #707070;
    padding: 5px 8px 4px;
    border: 1px solid #d6d6d6;
}

.aside__item.sales-number{
    padding-bottom: 25px;
}
.aside__item-sales{
    padding-top: 23px;
    @include f300;
    color: #707070;
    font-size: 16px;
    span{
        margin-right: 13px;
        font-size: 20px;
        @include f700;
        color: #263238;
        &::before{
            content: '\f07a';
            font-family: 'icomoon';
            font-size: 20px;
            color: #a6b5bb;
            margin-right: 20px;
        }
    }
}

.information__line{
    margin-top: 20px;
    font-size: 14px;
    line-height: 18px;
    color: #70838d;
    span{
        color: $bg;
        @include f500;
        padding-right: 4px;
    }
}
// ====================== end product-one ======================
// ====================== start page-404 ======================
.page-404__wrapper,
.contacts__wrapper,
.about__wrapper{
    border: 1px solid #cdd4c4;
    margin-bottom: 150px;
    background-color: #fff;
    
}
.page-404__head,
.about__head,
.contacts__head{
    padding: 23px 27px 23px;
    background-color: #fff;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    color: $bg;
    @include f500;
    border-bottom: 1px solid #cdd4c4;
}
.page-404__inner{
    background-color: $green;
    text-align: center;
    padding: 90px 0px;
}
.page-404__404{
    margin-bottom: 40px;
    margin-right: 100px;
    font-size: 300px;
    line-height: 300px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        background-image: url(../images/page-404.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 20px;
        width: 150px;
        height: 292px;
    }
}
.page-404__title{
    font-size: 30px;
    @include f300;
    margin-bottom: 30px;
    letter-spacing: 6px;
}
.page-404__text{
    max-width: 510px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 50px;
    @include f300;
}
.page-404__link{
    padding: 14px 29px;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
}

// ====================== end page-404 ======================
// ====================== start about ======================

.about__inner{
    padding: 20px 50px 0px 50px;
}
.about__title{
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    color: #444444;
    @include f700;
}
.about__text{
    font-size: 15px;
    line-height: 24px;
    color: #707070;
    margin-bottom: 45px;
}
// ====================== end contacts ======================
// ====================== start contacts ====================
.contacts__head{
    padding-left: 40px;
    padding-right: 40px;
}
.contacts__inner{
    padding: 35px 40px 15px;
}
.contacts__map{
    margin-bottom: 50px;
    iframe{
        width: 100%;
        height: 415px;
    }
}
.contacts__box{
    display: flex;
}
.contacts__info{
    margin-right: 30px;
    max-width: 300px;
    width: 100%;
}
.contacts__info-item{
margin-bottom: 30px;
}
.contacts__info-title{
    font-size: 20px;
    line-height: 24px;
    @include f500;
    font-family: 'Roboto-Regular', sans-serif !important;
    color: $bg;
    padding-bottom: 20px;
    position: relative;
    padding-left: 40px;
    margin-bottom: 20px;
    &::after{
        content: '';
        position: absolute;
        background-color: $green;
        width: 44px;
        height: 4px;
        left: 40px;
        bottom: 0;
    }
    &::before{
        position: absolute;
        font-family: 'icomoon';
        color: $green;
        font-style: 24px;
        left: 0;
    }    
}
.contacts__info-content{
    font-size: 15px;
    line-height: 24px;
    color: #707070;
    
    padding-left: 40px;
}
.contacts__form-title{
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 24px;
    @include f500;
    color: #333333;
}
.contacts__form{
    width: 100%;
    padding-left: 30px;
    input{
        max-width: 350px;
        width: 100%;
        height: 40px;
        border: none;
        background-color: #f1f4f5;
        color: #7a7a7a;
        padding: 0 17px;
        &::placeholder{
            font-size: 15px;
            color: #7a7a7a;
        }
        & + input{
            margin-left: 10px;
        }
    }
    textarea{
        width: 100%;
        display: block;
        min-height: 190px;
        padding-left: 17px;
        padding: 13px 17px;
        margin-bottom: 20px;
        border: none;
        font-size: 15px;
        color: #7a7a7a;
        background-color: #f1f4f5;
        resize: none;
        &::placeholder{
            font-size: 15px;
            color: #7a7a7a;
        }
    }
    button{
        width: 190px;
        border: none;
        padding: 17px 5px;
        background-color: $green;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        @include f700;
    }
}
.contacts__form-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}
// ====================== end contacts ====================
// ====================== start settings ====================
.settings{
    padding-bottom: 100px;
}
.product-one__tabs.settings__tabs{
    display: flex;
    .tabs{
        max-width: 270px;
        width: 100%;
        text-align: left;
        margin-right: 30px;
        border: 1px solid #dedede;
        border-bottom: none;
        display: block;
        height: 100%;
        span{
            display: block;
            background-color: #fff;
            border-bottom: 1px solid #dedede;
            padding: 13px 17px 12px 50px;
            color: #707070;
            @include f500;
            &.active{
                border-bottom: 1px solid $green;
                color: #37474f;
                @include f500;
                &::before{
                    color: $green;
                }
            }
            &::before{
                left: 24px;
                color: #444;
            }
        }
    }
    .tabs .tab+.tab{
        border-left:none
    }
    .tab_content{
        width: 100%;
    }
}
.product-one__tabs.settings__tabs{
    .tab_content{
        padding: 0;
        border:none;
        background-color: transparent;
        min-height: 100%;
    }
}
.page-box{
    background-color: #fff;
    border: 1px solid #d7d7d7;
}
.page-box__title{
    padding: 18px 34px;
    font-size: 24px;
    color: $bg;
    @include f500;
    border-bottom: 1px solid #d7d7d7;
}
.page-box__content{
    padding: 30px 33px 78px;
    button{
        width: 108px;
        background-color: $green;
        padding: 11px 0px;
        color: #fff;
        @include f500;
        font-size: 14px;
        line-height: 24px;
        border: none;
        display: inline-block;
        margin: 6px 31.7% 0px;
    }
}
.settings__line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    label{
        width: 260px;
        color: #444;
    }
    input,
    select{
        height: 40px;
        width: 100%;
        max-width: 548px;
        color: #707070;
        font-size: 14px;
        padding: 0px 15px;
        background-color: #f9f9f9;
        border: 1px solid #dcdcdc;
    }
    .jq-selectbox.jqselect{
        width: 100%;
        max-width: 548px;
    }
    .jq-selectbox__select{
        background: #f9f9f9;
        border: 1px solid #d7d7d7;
        border-bottom-color: #d7d7d7;
        box-shadow: none;
        text-shadow: none;
        border-radius: 0px;
        height: 40px;
        padding: 0px 18px;
        font-size: 15px;
        line-height: 40px;
        font-family: 'Roboto-Regular', sans-serif;
        color: #707070;
    }
    .jq-selectbox__trigger{
        border: none;
        top: 3px;
    }
    .jq-selectbox__trigger-arrow{
        border:none;
        top: -3px;
        line-height: 40px;
        right: 20px;
        font-size: 15px;
        &::before{
            content: "\f0d7";
            font-family: 'icomoon';
        }
    }
    .jq-selectbox__dropdown{
        border-radius: 0px;
    }
    .jq-selectbox li{
        padding: 0px 18px;
        line-height: 40px;
    }
    

}
// ====================== end settings ======================
// ====================== start profile =====================
.profile__inner{
    display: flex;
    margin-bottom: 30px;
}
.profile__aside{
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
}
.profile-status{
    margin-top: 17px;
    padding-left: 25px;
    padding-right: 14px;
    border: 1px solid #dcdcdc;
    font-size: 13px;
    line-height: 26px;
    color: #70838d;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        left: 8px;
        top: 7px;
    }
}
.profile-on{
    &::before{
        background-color: $green;
    }
}
.profile-off{
    &::before{
        background-color: $red;
    }
}
.profile__aside-link{
    text-align: center;
}
.aside-link{
    display: block;
    width: 100%;
    padding: 15px 0px;
    color: #fff;
    @include f500;
    font-size: 16px;
    border: none;
    box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
    & + &{
        margin-top: 18px
    }
}
.btn--gray{
    background-color: #546e7a;
}
.btn--green{
    background-color:$green;
}
.icone-envelope{
    position: relative;
    padding-left: 20px;
    &::before{
        position: absolute;
        content: "\f003";
        font-family: 'icomoon';
        color: #fff;
        left: 65px;
        top: 13px;
    }
}
.profile__content{
    max-width: 867px;
    width: 100%;
}
.profile__items{
    display: flex;
    border: 1px solid #dcdcdc;
    background-color: #fff;
}
.profile__item{
    padding: 15px;
    width: 25%;
    border-left: 1px solid #dcdcdc;
    text-align: center;
    &:first-child{
        border-left: none;
    }
    &-title{
        font-size: 14px;
        font-weight: 24px;
        @include f500;
        color: $bg;
    }
    &-content,
    &-date{
        font-size: 14px;
        line-height: 24px;
        color: #707070;
    }
    &-rating{
        .rate-star{
            margin-right: 0;
        }
        font-size: 12px;
        color: #b0bec5;
        span{
            color: #263238;
        }
    }
    &-price{
        font-size: 14px;
        line-height: 24px;
        color: #000;
    }
}
.profile__banner{
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dedede;
    margin-bottom: 31px;
    &-images{
        max-width: 830px;
        width: 100%; 
        min-height: 330px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; 
    }
}
.profail-settings{
    .product-one__tabs{
        margin-bottom: 15px;
    }
    .product-one__tabs.settings__tabs{
        .tabs span{
            font-family: 'Roboto-Regular', sans-serif !important;
            font-weight: 500;
            color: #707070;
            position: relative;
            font-size: 14px;
            &::before{
                font-size: 14px;
                font-family: 'icomoon';
                color: #d0d0d0;
                left: 24px;
                position: absolute;
                top: 12px;
            }
            &.active::before{
                color: #8bc34a;
            }
        }
    } 
}
.personal__box{
    padding: 35px 40px 25px;
    background-color: #fff;
    border: 1px solid #dedede;
    width: 100%;
    &-title{
        font-size: 20px;
        line-height: 24px;
        color: $bg;
        @include f700;
        margin-bottom: 25px;
    }
    &-text{
        margin-bottom: 30px;
        p{
            line-height: 24px;
            color: #707070;
        }
    }
}
.personal__box-items__title{
    font-size: 20px;
    color: $bg;
    line-height: 24px;
    margin-bottom: 20px;
    @include f700;
}
.personal__box-item{
    color: $bg;
    line-height: 24px;
    margin-bottom: 23px;
    &__head{
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        margin-bottom: 14px;
    }
    &__name{
        @include f500;
    }
    &__number{
        @include f700;
    }
    &__line{
        height: 15px;
        background-color: #f4f4f4;
        border-radius: 4px;
        span{
            display: block;
            border-radius: 4px;
            height: 15px;
            background-image: url(../images/pro-bar.jpg);
            background-repeat: repeat;
        }
    }
}
// ====================== end profile ======================
// ====================== start upload =====================
.upload__inner{
    background-color: #fff;
    border: 1px solid #d7d7d7;
    padding-bottom: 20px;
    margin-bottom: 110px;
}
.upload__inner-title{
    font-size: 24px;
    color: $bg;
    @include f500;
    border-bottom: 1px solid #d7d7d7;
    padding: 20px 35px;
}
.upload__inner-content{
    padding: 42px 49px 48px 35px; 
    button{
        width: 108px;
        background-color: $green;
        padding: 11px 0px;
        color: #fff;
        @include f500;
        font-size: 15px;
        line-height: 24px;
        border: none;
        margin: 22px 0px 0px 175px;
        cursor: pointer;
    }
}
.upload__line{
    display: flex;
    margin-bottom: 20px;
    label{
        min-width: 175px;
        padding-right: 15px;
        color: #444444;
        padding-top: 4px;
        span{
            color: $green;
            font-size: 24px;
        }
    }
    input,
    select,
    textarea{
        width: 100%;
        height: 40px;
        display: block;
        background-color: #f9f9f9;
        border: 1px solid #d7d7d7;
        padding: 0px 18px;
        &::placeholder{
            color: #707070;
        }
    }
    input[type="file"]{
        outline: none;
    }
    textarea{
        height: 150px;
        resize: none;
        padding: 8px 18px;
    }
    .jq-selectbox.jqselect{
        width: 100%;
    }
    .jq-selectbox__select{
        background: #f9f9f9;
        border: 1px solid #d7d7d7;
        border-bottom-color: #d7d7d7;
        box-shadow: none;
        text-shadow: none;
        border-radius: 0px;
        height: 40px;
        padding: 0px 18px;
        font-size: 15px;
        line-height: 40px;
        font-family: 'Roboto-Regular', sans-serif;
        color: #707070;
    }
    .jq-selectbox__trigger{
        border: none;
        top: 3px;
    }
    .jq-selectbox__trigger-arrow{
        border:none;
        top: -3px;
        line-height: 40px;
        right: 20px;
        font-size: 15px;
        &::before{
            content: "\f0d7";
            font-family: 'icomoon';
        }
    }
    .jq-selectbox__dropdown{
        border-radius: 0px;
    }
    .jq-selectbox li{
        padding: 0px 18px;
        line-height: 40px;
    }
    .jq-file {
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
    }
    .jq-file__name {
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        padding: 0px 18px 0px 110px;
        border: 1px solid #d7d7d7;
        border-bottom-color: #d7d7d7;
        border-radius: 0px;
        background: #f9f9f9;;
        box-shadow: none;
        line-height: 40px;
        font-size: 12px;
        color: #707070;
    }
    .jq-file__browse {
        position: absolute;
        top: 1px;
        left: 8px;
        right: auto;
        font-size: 12px;
        line-height: 24px;
        margin-top: 6px;
        padding: 0 13px;
        border: 1px solid #d7d7d7;
        border-left: 1px solid #d7d7d7;
        color: #444444; 
        border-radius: 0px;
        background: #fff;
        box-shadow: none;
    }
}
// ====================== end upload ======================
// ====================== start withdrawal =====================
.withdrawal__content{
    padding: 0 39px;
}
.withdrawal__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 145px;
}
.withdrawal__col{
    max-width: 570px;
    width: 100%;
    height: 100%;
    border: 1px solid #d7d7d7;
    background-color: #fff;
}
.withdrawal__title{
    font-size: 24px;
    @include f500;
    color: $bg;
    padding: 18px 32px 24px;
    border-bottom: 1px solid #d7d7d7;
}
.withdrawal__content-form{
    padding: 29px 0px 48px;
    button{
        margin-top: 8px;
        background-color: $green;
        padding: 14px 28px;
        color: #fff;
        @include f700;
        font-size: 16px;
        line-height: 24px;
        border: none;
        cursor: pointer;
    }
}
.withdrawal__line{
    margin-bottom: 30px;
    label{
        display: block;
        margin-bottom: 21px;
        font-size: 16px;
        color: $bg;
        @include f500;
        span{
            color: $green;
            font-size: 24px;
        }
    }
    input{
        display: block;
        width: 100%;
        height: 40px;
        border: 1px solid #d7d7d7;
        padding: 0px 18px;
        background-color: #f9f9f9;
        &::placeholder{
            color: #707070;
        }
    }
    .jq-selectbox.jqselect{
        width: 100%;
    }
    .jq-selectbox__select {
        height: 40px;
        font-family: 'Roboto-Regular', sans-serif;
        padding: 0 45px 0 18px;
        border: 1px solid #d7d7d7;
        border-bottom-color: #d7d7d7;
        border-radius: 0px;
        background: #f9f9f9;
        box-shadow: none;
        font-size: 15px;
        line-height: 38px;
        color: #707070;
        text-shadow: none;
    }
    .jq-selectbox__trigger{
        border: none;
        top: 3px;
    }
    .jq-selectbox__trigger-arrow{
        border:none;
        top: -3px;
        line-height: 40px;
        right: 20px;
        font-size: 15px;
        &::before{
            content: "\f0d7";
            font-family: 'icomoon';
        }
    }
    .jq-selectbox li{
        padding: 0px 18px;
        line-height: 40px;
    }
    .jq-selectbox__dropdown{
        border-radius: 0px;
        margin: auto;
    }
}
.withdrawal__content-items{
    padding: 38px 0px 20px;
}
.withdrawal__content-item{
    display: flex;
    padding-left: 20px;
    height: 42px;
    align-items: center;
    &:nth-child(odd){
        background-color: #f9f9f9;
    }
}
.withdrawal__content-item{
    display: flex;
    font-size: 13px;
    color: #444444;
}
.withdrawal__content-email{
    width: 170px;
}
.withdrawal__content-date{
    @include f500;
    width: 137px;
}
.withdrawal__content-price{
    @include f700;
    width: 70px;
}
.withdrawal__content-pending-status{
    @include f700;
    width: 88px;
    &.withdrawal__content-pending-paid{
        color: $green;
    }
}
// ====================== end withdrawal ======================

// ====================== media ===========================
@import 'media';